/* ==============COLORI=================== */
:root {
  /*colori logo */
  --colore-logo: #4d5ae5;
  --coloro-logo-h: #2e2f42;
  --coloro-logo-f: #f4f4fd;

  /* colori header */
  --colore-menu-link: #2e2f42;
  --colore-menu-background: #ffffff;
  --colore-menu-hfa: #404bbf;

  /* colori footer */
  --colore-footer-text: #e7e9fc;
  --colore-footer-background: #2e2f42;

  /* colore title */
  --colore-title: #2e2f42;

  /* colore button */
  --color-button-primery: #4d5ae5;
  --color-button-secondary: #404bbf;
  --color-button-nav: #f4f4fd;
  --color-buton-white: #ffffff;
  --color-button-border: #e7e9fc;

  /* colore background */
  --colore-background-body: #ffffff;
  --colore-background-section-grey: #f4f4fd;
  --colore-background-section-navy-blu: #2e2f42;

  /* colore text */
  --color-text: #434455;
  --color-text-white: #ffffff;

  /* colore border header */
  --colore-border-header: #e7e9fc;
  /* =============/COLORI==================== */
}
/* ============скидання стилів (параметрів)============ */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background: var(--colore-background-body);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text {
  color: var(--color-text);
}
/* ==============TITLE==================== */
.hero .title-h-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text-white);
}

.title-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title-h-two,
.title-h-three {
  color: var(--colore-title);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* invisible title portfolio main */
/* .Invisible-title {
  color: var(--colore-background-body);
} */
/*================ BUTTON ==================*/
.hero .button,
.nav .button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  letter-spacing: 0.04em;
  background: var(--color-button-primery);
  color: var(--color-buton-white);
  cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
  background: var(--color-button-secondary);
}

/* section portfolio nav */
.nav .button {
  color: var(--color-button-primery);
  background: var(--color-button-nav);
}
.nav .button:hover,
.nav .button:focus {
  background: var(--color-button-primery);
  color: var(--color-buton-white);
}
/* ===============CONTEINER================ */
.conteiner {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* ===============HEADER=================== */
.page-header > .conteiner {
  display: flex;
  align-items: center;
}
.page-header > .conteiner {
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header {
  border-bottom: 1px solid var(--colore-border-header);
}
.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--colore-logo);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-header .logo {
  margin-right: 76px;
}
.accent-header {
  color: var(--coloro-logo-h);
}

.menu {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--colore-menu-link);
  gap: 40px;
}

.address .list {
  display: flex;
  align-items: center;
}
.address {
  margin-left: auto;
}
.mail {
  display: flex;
}
.mail {
  margin-right: 40px;
}
.address .link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  cursor: pointer;
}
.address {
  font-style: normal;
}
.menu:hover,
.menu:focus,
.menu:active,
.mail .link:hover,
.mail .link:focus,
.mail .link:active,
.tel .link:hover,
.tel .link:focus,
.tel .link:active {
  color: var(--colore-menu-hfa);
}

/* .page-header > .conteiner {
  display: flex;
} */

/*================= SECTION ================== */

/* ===========section Hero============== */
.hero {
  background: var(--colore-background-section-navy-blu);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero .title-h-one {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.hero .button {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
/* ============section ABOUT================= */
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about .text {
  margin-top: 8px;
}
.about .list {
  display: flex;
  gap: 24px;
}
/* ============section WORK ==================*/
.work {
  padding-bottom: 120px;
}
.work .list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.work .title-h-two {
  margin-bottom: 72px;
}
/* ============section Our Team ==============*/
.our-team {
  background: var(--colore-background-section-grey);
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team .list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.our-team .title-h-two {
  margin-bottom: 72px;
}

.list .team-item {
  display: flex;
  flex-direction: column;
}
.team-text {
  display: flex;
  width: 264px;
  background-color: var(--colore-menu-background);
  padding: 32px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.title-h-three {
  margin-bottom: 8px;
}
/* =================== FOOTER ================ */
.accent-footer {
  color: var(--coloro-logo-f);
}
.footer {
  background: var(--colore-footer-background);
  color: var(--colore-footer-text);
  padding-top: 101.5px;
  padding-bottom: 100px;
}
.footer-text {
  max-width: 264px;
  margin-top: 17.5px;
}

/* ======section Portfolio nav================= */

.nav .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-button .list {
  display: flex;
  box-sizing: border-box;
  margin-top: 96px;
  margin-bottom: 72px;
  gap: 24px;
}
.button {
  border-color: var(--color-button-border);
  padding: 12px 24px;
  border: transparent;
}

.card-box {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 120px;
}

.card-item {
  width: calc((100% - 48px) / 3);
}

.card-text {
  border: 1px solid var(--colore-border-header);
  border-top: hidden;
  padding: 16px 32px;
}
